.api {
  background: #fafafa;
}

.api h3, h3.api-title {
    padding: 5px 10px;
}

.api-title .locus {
    float: right;
    font-weight: normal;
    padding-right: 5px;
    font-style: italic;
}

.api-title .subtext {
    font-size: 11px;
    text-align: left;
    clear: both;
    display: block;
    font-weight: normal;
}

.api-title .subtext > code {
  font-size: 11px;
  margin-right: 12px;
}

.api-title .src-code {
    color: #20338A !important;
    border-bottom: none !important;
}

h3.api-title {
    margin-top: 2em;
}

.api h3.api-title {
    margin: 0;
    overflow : auto;
}

.api h4 {
    font-weight: normal;
    font-style: italic;
    margin-bottom: .25em;
    text-decoration: underline;
    margin-left: 20px;
}

.api dl {
    margin-top: .25em;
}

.api dl.args {
    margin-left:  40px;
}

.api dl.constants {
    margin-left:  20px;
}

.api dt {
    margin-top: 1em;
}

.api dt .name {
    font-weight: bold;
}

.api dt .type {
    margin-left: 15px;
    font-size: .9em;
    font-weight: 200;
    color: black;
}

.api dd {
    margin-bottom: 1em;
    margin-left: 0;
}

.api .desc {
    margin: 1em;
}

.api pre {
    margin-right: 10px;
}
