body {
  background: @color-lightest;

  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.sidebar {
  .position(fixed, 0, auto, 0, 80px, 260px);
  background: @color-light;
  box-shadow: rgba(0,0,0,.1) 0 0 5px 0;

  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
}

.panel {
	.position(fixed, 0, auto, 0, 0, 80px);
	background: @color-mediumlight;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
}

.nav {
  // appears on mobile only
}

.content {

  .position(absolute, 0, auto, 0, 260px + 80px);
}
