@sidebar-width: 260px;
@panel-width: 80px;
@panel-width-mobile: 64px;

body {
  background: @color-lightest;

  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.panel {
	.position(fixed, 0, auto, 0, 0, @panel-width-mobile);
  @media screen and (min-width: (@breakpoint * 1.5)) { width: @panel-width; }
	background: @color-mediumlight;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
}

.sidebar {
  .position(fixed, 0, auto, 0, @panel-width-mobile, @sidebar-width);
  @media screen and (min-width: (@breakpoint * 1.5)) { left: @panel-width; }
  background: @color-lighter;
  box-shadow: rgba(0,0,0,.1) 0 0 5px 0;

  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
}




.nav {
  // appears on mobile/tablet only
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
  z-index: 3;

  @media screen and (min-width: @breakpoint) {
    left: @panel-width-mobile;
  }

  @media screen and (min-width: (@breakpoint * 1.5)) {
    height: 0;
    left: @panel-width;
  }
}

.content {
  position: relative;
  background: @color-lightest;
  padding-top: 3rem;
  z-index: 2;

  @media screen and (min-width: @breakpoint) {
    margin-left: @panel-width-mobile;
    padding-top: 4rem;
  }

  @media screen and (min-width: (@breakpoint * 1.5)) {
    margin-left: @sidebar-width + @panel-width;
    padding-top: 1rem;
  }
}
