<div class="panel">
  <div class="panel-group stacked">
    <div class="panel-item">
      <a href="https://developers.meteor.com">
        <img src="/images/icon-coral.svg" class="logo" alt="Meteor Developers" title="Meteor Developers"/>
      </a>
    </div>
    <div class="panel-item">
      <a class="" href="https://tutorials.meteor.com">
        <img src="/images/illustration-support.svg"/>
        <span>Tutorials</span>
      </a>
    </div>

    <div class="panel-item">
      <a class="" href="https://guide.meteor.com">
        <img src="/images/illustration-support.svg"/>
        <span>Guide</span>
      </a>
    </div>

    <div class="panel-item">
      <a class="" href="https://docs.meteor.com">
        <img src="/images/illustration-support.svg"/>
        <span>API Docs</span>
      </a>
    </div>

    <div class="panel-item">
      <a class="" href="https://forums.meteor.com/">
        <img src="/images/illustration-support.svg"/>
        <span>Forums</span>
      </a>
    </div>
  </div>
</div>
