<nav class="nav light">
  <div class="nav-group">
    <div class="nav-item">
      <a class="logo" href="/">
        <img src="images/logo.svg" alt="Meteor <%- config.subtitle %>"/>
      </a>
    </div>
    <div class="nav-item">
      <div class="input-symbol">
        <input type="text" id="search-input" class="search-box st-default-search-input">
        <span class="icon-search"></span>
      </div>
    </div>
  </div>

  <div class="nav-group right">
    <div class="nav-item">
      <a class="link tertiary" href="http://docs.meteor.com">Docs</a>
    </div>
    <div class="nav-item">
      <a class="link tertiary" href="https://www.meteor.com/tutorials/blaze/creating-an-app">Tutorials</a>
    </div>
    <div class="nav-item">
      <a class="link tertiary" href="https://forums.meteor.com/">Forums</a>
    </div>
  </div>
</nav>
